services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage

  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    expose:
      - "8000"
    env_file:
      - ./.env
    environment:
      - QDRANT_URL=http://qdrant:6333
    depends_on:
      - qdrant
    volumes:
      - ./app/data/uploads:/app/data/uploads


volumes:
  qdrant_data:
